@import 'type';
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700|Open+Sans+Condensed:700);
@import 'reset';

/* MIXINS */
@mixin overlay($height, $width, $fontSize: 1.4em, $paddingTop: $height/2 - 10px) {
	height: $height;
	width: $width;
	position: absolute;
	background: transparent url('../img/white-80pct.png');
	padding-top: $paddingTop;
	font-family: $boldcon;
	text-align: center;
	color: $grey-text;
	text-transform: uppercase;
	font-size: $fontSize;
	display: none;
	z-index: 10;
}

/* GLOBAL STYLES */

	*, *:before, *:after {
	  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	 }

	$grey-text: #787d80;
	$dark-grey: #58585B;
	$yellow-text: #e4c320;
	$black-text: #000000;
	$boldcon: 'Open Sans Condensed';
	$normaltext: 'Open Sans';

	body {
		font-size: 16px;
		color: $black-text;
		padding: 0;
		margin: 164px 0 0 0;
		background-color: #ffffff;
	}

	a {
		color: $grey-text;
		text-decoration: none;
	}

	.whiteout {
		position: absolute;
		top: 0;
		left: 0;
		background: transparent url('../img/white-80pct.png');
		display: none;
		z-index: 1000;
	}

	.detail-image {
		position: fixed;
		z-index: 1001;
		padding: 10px;
		background-color: #ffffff;
		-webkit-box-shadow: 7px 7px 40px rgba(50, 50, 50, 0.5);
		-moz-box-shadow:    7px 7px 40px rgba(50, 50, 50, 0.5);
		box-shadow:         7px 7px 40px rgba(50, 50, 50, 0.5);
	}

	.close-box {
		position: fixed;
		top: 130px;
		right: 20px;
		color: $grey-text;
		font-family: $boldcon;
		z-index: 1002;
		cursor: pointer;
	}

	p {
		font-family: $normaltext;
		font-weight: 400;
		font-size: 1em;
		line-height: 1.5em;
		color: $dark-grey;
	}

	h1 {
		color: $black-text;
		font-size: 3.3em;
		font-family: $boldcon, sans-serif;
		font-weight: 400;
		margin-bottom: 40px;
	}

	h2 {
		color: $grey-text;
		text-transform: uppercase;
		font-size: 2em;
		font-family: $boldcon, sans-serif;
		font-weight: 400;
	}

	.wrapper {
		width: 900px;
		margin: 0 auto;
	}

	.top-fixed {
		padding: 0 20px 10px 20px;
		position: fixed;
		top: 0;
		border-bottom: solid #666666 1px;
		background-color: #ffffff;
		z-index: 999;
	}

	.social-media {
		text-align: right;
		margin-top: 30px;

		img {
			margin-left: 5px;
		}
	}

	.logo {
		width: 212px;
	}

	.nav {
		width: 648px;
		text-align: right;
	
		ul {
			list-style-type: none;
			padding-top: 30px;
		}

		li {
			display: inline;
			padding-left: 15px;

			a {
				font-family: $boldcon, sans-serif;
				text-decoration: none;
				font-size: 1em;
				color: $grey-text;
				text-transform: uppercase;
			}

			a:hover {
				color: $yellow-text;
			}
		}

		li.active a {
			color: $yellow-text;
		}

	}

	#news .news-menu-item a, #contact .contact-menu-item a, #profile .profile-menu-item a {
		color: $yellow-text;
	}

	.section-title {
		text-align: center;
		padding: 20px 0;
	}


/* TOP WORK PART */

	.work-section {

		div {
			float: left;
		}

		.work-section-left {
			padding: 20px 0 0 20px;
		}

		.work-section-right {
			padding: 20px 20px 0 0;
		}

		.next-img {
			height: 320px;
			width: 430px;
			position: absolute;
			display: none;
			background-image: url('../img/work-top/swimmer.jpg');
			z-index: 9;
		}

		.current-img {
			height: 320px;
			width: 430px;
			position: absolute;
			z-index: 8;
		}
		
		.overlay {
			@include overlay(320px, 430px, 1.6em);
		}

		img {
			width: 430px;
			height: auto;
		}
	}

/* FRESHLY SQUEEZED PART */

	.freshly-squeezed-section {

		margin: 0 20px;

		.overlay {
			@include overlay(161px,280px,1.6em,50px)
		}

		.thumb {
			float: left;
			text-align: center;
			margin-right: 10px;
			&.first { 
				text-align: left; 
			}
			&.last {
				text-align: right; 
				margin-right: 0;
			}
		}

		img {
			width: 280px;
			height: auto;
		}
	}

/* INTERACTIVE */

	.interactive-section {

		margin: 0 20px;

		.overlay {
			@include overlay(157px,209px,1.6em,50px)
		}

		.thumb {
			float: left;
			text-align: center;
			margin: 3px 8px 3px 0;
			&.first {
				text-align: left;
			}
			&.last {
				text-align: right;
				margin-right: 0;
			}
		}

		img {
			width: 209px;
			height: auto;
		}

	}

/* MORE NEWS */
	
	.more-news-section {
		border-bottom: solid 1px $grey-text;
	}

/* PROFILE */

	.profile-section {
		width: 100%;
		padding: 0 50% 40px 20px;
		background: transparent url('../img/lemon-half-bg.png') no-repeat right top;
		min-height: 500px;
	}

	.contact-form-section {
		width: 100%;
		padding: 0 50% 40px 20px;
		background: transparent url('../img/lemon-bg.png') no-repeat right top;
		min-height: 500px;
	}

/* LAYOUT STYLES */

	.float-left {
		float: left;
	}

	.clear-both {
		clear: both;
	}

	.float-right {
		float: right;
	}

	.size-50 {
		width: 50%;
	}

	.size-33 {
		width: 33.33333333333333333%;
	}

	.size-25 {
		width: 25%;
	}

	.size-100 {
		width: 100%;
	}

	.active {
		color: $yellow-text;
	}

	.spacer-40 {
		height: 40px;
	}

	.text-align-center {
		text-align: center;
	}