@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700|Open+Sans+Condensed:700);
/*@font-face {
    font-family: 'helvetica_neueregular';
    src: url('../fonts/helveticaneue-webfont-webfont.eot');
    src: url('../fonts/helveticaneue-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneue-webfont-webfont.woff') format('woff'),
         url('../fonts/helveticaneue-webfont-webfont.ttf') format('truetype'),
         url('../fonts/helveticaneue-webfont-webfont.svg#helvetica_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'helvetica_neuebold';
    src: url('../fonts/helveticaneuebold-webfont-webfont.eot');
    src: url('../fonts/helveticaneuebold-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneuebold-webfont-webfont.woff') format('woff'),
         url('../fonts/helveticaneuebold-webfont-webfont.ttf') format('truetype'),
         url('../fonts/helveticaneuebold-webfont-webfont.svg#helvetica_neuebold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helvetica_neueboldcn';
    src: url('../fonts/HelveticaNeueLTStd-BdCn.eot');
    src: url('../fonts/HelveticaNeueLTStd-BdCn.eot?#iefix') format('embedded-opentype'),
         url('../fonts/HelveticaNeueLTStd-BdCn.woff') format('woff'),
         url('../fonts/HelveticaNeueLTStd-BdCn.ttf') format('truetype'),
         url('../fonts/HelveticaNeueLTStd-BdCn.svg#helvetica_neuebold') format('svg');
    font-weight: normal;
    font-style: normal;
}*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* MIXINS */
/* GLOBAL STYLES */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-size: 16px;
  color: black;
  padding: 0;
  margin: 164px 0 0 0;
  background-color: #ffffff;
  font-family: "Open Sans"; }

a {
  color: #787d80;
  text-decoration: none; }

.whiteout {
  position: absolute;
  top: 0;
  left: 0;
  background: transparent url("../img/white-80pct.png");
  display: none;
  z-index: 1000; }

.detail-image {
  position: fixed;
  z-index: 1001;
  background-color: #ffffff;
  -webkit-box-shadow: 7px 7px 10px rgba(50, 50, 50, 0.3);
  -moz-box-shadow: 7px 7px 10px rgba(50, 50, 50, 0.3);
  box-shadow: 7px 7px 10px rgba(50, 50, 50, 0.3); }

.close-box {
  position: fixed;
  top: 130px;
  right: 20px;
  color: #787d80;
  font-family: "Open Sans Condensed";
  z-index: 1002;
  cursor: pointer; }

p {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5em;
  color: #58585b; }

h1 {
  color: black;
  font-size: 3.3em;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 400;
  margin-bottom: 40px;
  padding: 5px 0; }

h2 {
  color: #787d80;
  text-transform: uppercase;
  font-size: 1.8em;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 400;
  letter-spacing: 2px; }

h3 {
  font-size: 1em;
  font-weight: 600;
  padding: 5px 0; }

.wrapper {
  width: 900px;
  margin: 0 auto; }

.top-fixed {
  padding: 0 20px 10px 20px;
  position: fixed;
  top: 0;
  border-bottom: solid #666666 1px;
  background-color: #ffffff;
  z-index: 999; }

.social-media {
  text-align: right;
  margin-top: 30px; }
  .social-media img {
    margin-left: 5px; }

.logo {
  width: 212px; }

.nav {
  width: 648px;
  text-align: right; }
  .nav ul {
    list-style-type: none;
    padding-top: 30px; }
  .nav li {
    display: inline;
    padding-left: 15px; }
    .nav li a {
      font-family: "Open Sans Condensed", sans-serif;
      text-decoration: none;
      font-size: 1em;
      color: #787d80;
      text-transform: uppercase; }
    .nav li a:hover {
      color: #e4c320; }
  .nav li.active a {
    color: #e4c320; }

#news .news-menu-item a, #contact .contact-menu-item a, #profile .profile-menu-item a, #work .work-menu-item a {
  color: #e4c320; }

.section-title {
  text-align: center;
  padding: 20px 0; }

/* TOP WORK PART */
.work-section div {
  float: left; }
.work-section .work-section-left {
  padding: 20px 0 0 20px; }
.work-section .work-section-right {
  padding: 20px 20px 0 0; }
.work-section .next-img {
  height: 320px;
  width: 430px;
  position: absolute;
  display: none;
  background-image: url("../img/work-top/swimmer.jpg");
  z-index: 9; }
.work-section .current-img {
  height: 320px;
  width: 430px;
  position: absolute;
  z-index: 8; }
.work-section .overlay {
  height: 320px;
  width: 430px;
  position: absolute;
  background: transparent url("../img/white-80pct.png");
  padding-top: 150px;
  font-family: "Open Sans Condensed";
  text-align: center;
  color: #787d80;
  text-transform: uppercase;
  font-size: 1.6em;
  display: none;
  z-index: 10; }
.work-section img {
  width: 430px;
  height: auto; }

/* FRESHLY SQUEEZED PART */
.freshly-squeezed-section {
  margin: 0 20px; }
  .freshly-squeezed-section .overlay {
    height: 161px;
    width: 280px;
    position: absolute;
    background: transparent url("../img/white-80pct.png");
    padding-top: 50px;
    font-family: "Open Sans Condensed";
    text-align: center;
    color: #787d80;
    text-transform: uppercase;
    font-size: 1.6em;
    display: none;
    z-index: 10; }
  .freshly-squeezed-section .thumb {
    float: left;
    text-align: center;
    margin-right: 10px; }
    .freshly-squeezed-section .thumb.first {
      text-align: left; }
    .freshly-squeezed-section .thumb.last {
      text-align: right;
      margin-right: 0; }
  .freshly-squeezed-section img {
    width: 280px;
    height: auto; }

/* INTERACTIVE */
.interactive-section {
  margin: 0 20px; }
  .interactive-section .overlay {
    height: 157px;
    width: 209px;
    position: absolute;
    background: transparent url("../img/white-80pct.png");
    padding-top: 50px;
    font-family: "Open Sans Condensed";
    text-align: center;
    color: #787d80;
    text-transform: uppercase;
    font-size: 1.6em;
    display: none;
    z-index: 10; }
  .interactive-section .thumb {
    float: left;
    text-align: center;
    margin: 3px 8px 3px 0; }
    .interactive-section .thumb.first {
      text-align: left; }
    .interactive-section .thumb.last {
      text-align: right;
      margin-right: 0; }
  .interactive-section img {
    width: 209px;
    height: auto; }

/* MORE NEWS */
.more-news-section {
  border-bottom: solid 1px #787d80; }

/* NEWS PAGE */
.news-article {
  padding: 40px;
  border-bottom: 1px solid #58585b; }
  .news-article .main-image {
    margin: 20px 0; }
  .news-article h3 {
    font-size: 1.8em;
    font-family: "Open Sans Condensed";
    padding-bottom: 10px; }
  .news-article p {
    font-size: 1em;
    font-weight: 200; }

/* PROFILE */
.profile-section {
  width: 100%;
  padding: 0 50% 40px 20px;
  background: transparent url("../img/lemon-half-bg.png") no-repeat right top;
  min-height: 500px; }

.contact-form-section {
  width: 100%;
  padding: 0 50% 40px 20px;
  background: transparent url("../img/lemon-bg.png") no-repeat right top;
  min-height: 500px; }

.work-content {
  clear: both; }

/* WORK ITEM PAGES */
.feature-image-section {
  margin-bottom: 15px; }
  .feature-image-section img {
    width: 900px;
    height: auto; }

.thumbnail-nav {
  height: 40px; }

.thumb {
  float: left;
  margin-right: 5px; }

.work-text {
  width: 600px;
  float: left;
  padding-top: 30px; }
  .work-text h2 {
    color: black;
    padding-bottom: 15px; }
  .work-text h3 {
    padding-bottom: 15px; }
  .work-text p {
    width: 450px;
    font-size: .9em;
    padding: 5px 0; }

.work-titles {
  width: 300px;
  float: left;
  font-family: "Open Sans Condensed";
  font-size: 1.1em;
  color: #787d80;
  text-transform: uppercase; }
  .work-titles li {
    padding-bottom: 7px; }

/* LAYOUT STYLES */
.float-left {
  float: left; }

.clear-both {
  clear: both; }

.float-right {
  float: right; }

.size-50 {
  width: 50%; }

.size-33 {
  width: 33.33333333333333333%; }

.size-25 {
  width: 25%; }

.size-100 {
  width: 100%; }

.active {
  color: #e4c320; }

.spacer-40 {
  height: 40px;
  clear: both; }

.text-align-center {
  text-align: center; }
